<div class="container">
    <!-- Begin Projects container -->
    <h2 class="title is-2 has-text-centered">Projects</h2>

    <!--不蒜子阅读量-->
    <span class="footer-text">
    中國妖怪吸引到</i><span id="busuanzi_value_page_pv"></span>位來訪者
    <i class="fa fa-odnoklassniki"></i><br />
    <p style="color: #75b8c8;font-size: 10px;line-height: 30px">点击图片有惊喜
    <i class="fa fa-hand-o-down"></i>
    </span>

    <div class="section is-small">
        <div class="columns is-multiline">
            {{ range sort .Pages }} {{ if eq .Section "projects" }}
            {{ if eq .Site.Params.projectColumns "2" }}
            <div class="column is-half"> {{ else if eq .Site.Params.projectColumns "3" }}
            <div class="column is-one-third"> {{ end }}
                <!-- Hey Vicky, show half column if number is even. -->
                <div {{ if not .Params.external_link }} id="project{{.Title | urlize}}" {{ end }} class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <a {{ if .Params.external_link }} href="{{ .Params.external_link }}" {{ end }}>
                                    <img src="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.Params.placeHolderimg }}{{ end }}">
                                </a>
                            </figure>
                        </div>

                        <div class="card-content has-text-centered top-pad">
                                <a {{ if .Params.external_link }} href="{{ .Params.external_link }}" {{ end }}>
                                    {{ .Title }}
                                </a>
                        </div>
                </div>
            </div>
            {{ end }} {{ end }}
    </div>
</div>
</div>

<!-- 来必力评论 LiveRe City install code -->
<!-- 来必力City版安装代码
<div class="container" id="lv-container" data-id="city" data-uid="MTAyMC8zNDQ1OS8xMDk5Ng==">
<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
</script>
</div> -->
<!-- City版安装代码已完成 -->




<!-- End Projects container -->

<!-- Projects modals -->
{{ range sort .Pages }} {{ if eq .Section "projects" }} {{ if not .Params.external_link }}
<div class="modal" id="modal{{.Title | urlize}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        {{ with .Title }}
        <header class="modal-card-header bottom-pad">
            <p class="modal-card-title has-text-centered">{{ . }}</p>
        </header>
        {{ end }}
        {{ if .Params.image }}
            <img src="{{ .Params.image }}" class="img-responsive img-centered">
        {{ end }}
        {{ if .Content }}
        <section class="modal-card-body markdown">
            {{ .Content }}
        </section>
        {{ end }}
    </div>
    <button class="modal-close is-large" aria-label="close" id="close{{.Title | urlize}}"></button>
</div>
<script>
    $('#project{{.Title | urlize}}').click(function() {
        $('#modal{{.Title | urlize}}').addClass('is-active');
    });
    $('#close{{.Title | urlize}}').click(function() {
        $('#modal{{.Title | urlize}}').removeClass('is-active');
    });
</script>
{{ end }} {{ end }} {{ end }}





<div class="container has-text-centered top-pad">
    <a href="#top">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>
